<template>
    <v-container>
        <v-card class="mb-5" v-for="(room, index) in rooms" :key="index">
            <v-card-title>
                {{ room.title }}
            </v-card-title>
            <PlotlyContour :chart="room.coordinates" :key="index"></PlotlyContour>
        </v-card>
    </v-container>
</template>

<script>
    import axios from 'axios';
    import PlotlyContour from "./PlotlyContour";

    export default {
        name: "ChartHistory",
        components: {PlotlyContour},
        data: () => ({
           rooms: []
        }),
        mounted() {
            axios
                .get('rooms/')
                .then(response => {
                    //eslint-disable-next-line
                    console.log(response.data);
                    this.rooms = response.data
                })
        }
    }
</script>

<style scoped>

</style>