<template>
    <v-row>
        <v-col cols="4" md="2">
            <v-text-field v-model="coordinate.coordinate_x" type="number" label="x"></v-text-field>
        </v-col>
        <v-col cols="4" md="2">
            <v-text-field v-model="coordinate.coordinate_y" type="number" label="y"></v-text-field>
        </v-col>
        <v-col cols="4" md="2">
            <v-text-field v-model="coordinate.value" type="number" label="Значение"></v-text-field>
        </v-col>
    </v-row>
</template>

<script>
    export default {
        name: "CoordinateInput",
        props: {
            coordinate: null
        }

    }
</script>

<style scoped>

</style>